{% extends "base.html" %}
{% load static %}

{% block header %}
	<!--header-part-->
		<div class="banner-background" id="to-top">
			<div class="container">
				<div class="nav-back">
					<div class="navigation">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a></li>
									<li><a class="active" href="about.html">NOSOTROS</a></li>
									<li class="dropdown">
									  <a href="gallery.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GALERÍA<span class="caret"></span></a>
									  <ul class="dropdown-menu">
										<li><a href="gallery.html">Action</a></li>
										<li><a href="gallery.html">Another action</a></li>
										<li><a href="gallery.html">Something else here</a></li>
									  </ul>
									</li>
									<li><a href="{% url 'contact' %}">CONTACTO</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
								<div class="clearfix"></div>	
							<div class="clearfix"></div>
						</nav>
						<div class="clearfix"></div>
					</div>
					<div class="logo">
						<h1><a href="index.html">TECKELS<span class="hlf"> DE GOLAGE</span></a></h1>
					</div>
				</div>
			</div>
		</div>
		<!--header-ends-->
{% endblock header %}

{% block main %}
	<div class="about-pg">
		<h3>Nosotros</h3>
		<div class="container">
			<div class="col-md-6 lt">
				<div class="choose-us">
					<h3>Historia e Instalaciones en Golage</h3>
					<p>Hola amigos, soy Pablo Antonio González Lage, criador de teckels miniaturakaninchen pelo corto y largo y por su puesto duro, raza canina por la que siento una gran debilidad. Mi compromiso y sensibilidad hacia el mundo animal es total. A principios de la década de los ochenta ésta circunstancia provocó en mí el inicio de mi dedicación a la cría exclusiva de teckels miniatura y kaninchen, motivando mi traslado residencial al campo. En un corto espacio de tiempo adquirí algunos magníficos ejemplares caninos a lo largo de Europa, base sobre la que desarrollar mi pasión.</p>
					<br>
					<p>Mis inicios como peluquero canino y mi asistencia al mundo de las exposiciones me hicieron conocedor de muy diversas razas. Todo esto fue el caldo de cultivo para formarme como criador, como lo demuestra mis más de setenta campeones de la raza teckel, todos ellos nacidos en el criadero.</p>
					<br>
					<p>Enlaza con las imágenes de los mejores ejemplares. Pelo largo, corto y duro. Encontrarás una ficha con las características propias de cada uno de ellos. También con galería de fotos dedicada a anécdotas, instalaciones y archivo histórico.</p>
					<br>
					<p>En nuestras instalaciones, nuestros compañeros llevan una vida feliz y relajada, teniendo espacio para soltar toda la energia que cada miembro de esta familia posee.</p>
					<br>
					<p>Observando como actuan, llegamos a saber las cualidades de cada uno de nuestros amigos, detalle imprescindible a la hora de reproducir y entregar a cada familia un cachorro acorde a sus gustos y necesidades.</p>
					<br>
					<div class="clear"></div>
				</div>
			</div>
			<div class="col-md-6 lt">
				<div class="few-words">
						<img src="{% static '../media/images/about/4.jpg' %}" alt="" title="" class="img-responsive" />
						<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="row" style="margin-top:15px">
				<div class='list-group gallery'>
		            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
		                <a class="thumbnail fancybox" rel="ligthbox" href="{% static '../media/images/about/1.jpg' %}">
		                    <img class="img-responsive" alt="" src="{% static '../media/images/about/1.jpg' %}" />
		                </a>
		            </div> <!-- col-6 / end -->
		            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
		                <a class="thumbnail fancybox" rel="ligthbox" href="{% static '../media/images/about/3.jpg' %}">
		                    <img class="img-responsive" alt="" src="{% static '../media/images/about/3.jpg' %}" />
		                </a>
		            </div> <!-- col-6 / end -->
		            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
		                <a class="thumbnail fancybox" rel="ligthbox" href="{% static '../media/images/about/5.jpg' %}">
		                    <img class="img-responsive" alt="" src="{% static '../media/images/about/5.jpg' %}" />
		                </a>
		            </div> <!-- col-6 / end -->
		            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
		                <a class="thumbnail fancybox" rel="ligthbox" href="{% static '../media/images/about/6.jpg' %}">
		                    <img class="img-responsive" alt="" src="{% static '../media/images/about/6.jpg' %}" />
		                </a>
		            </div> <!-- col-6 / end -->
		        </div> <!-- list-group / end -->
			</div>
		</div>
	</div>	
{% endblock main %}



		
		<!--about-->
		
		
		<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
		<!----> 
		<!---->
		<script type="text/javascript">
				$(document).ready(function() {
						/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
						*/
				$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<script type="text/javascript">
			$(document).ready(function(){
			    /* This is basic - uses default settings */
	
				$("a#single_image").fancybox();
				
				/* Using custom settings */
				
				$("a#inline").fancybox({
					'hideOnContentClick': true
				});

				/* Apply fancybox to multiple items */
				
				$("a.group").fancybox({
					'transitionIn'	:	'elastic',
					'transitionOut'	:	'elastic',
					'speedIn'		:	600, 
					'speedOut'		:	200, 
					'overlayShow'	:	false
				});
			});
		</script>
	</body>
</html>